{% use "@Contao/component/_headline.html.twig" %}

{% block headline_component %}
    {% set headline = headline|default(_context) %}
    {% set headline_wrapper_attributes = headline.attributes|default(attrs()) %}
    {% if headline_wrapper_attributes.class is not defined %}
        {% set headline_wrapper_attributes = attrs(headline_wrapper_attributes).addClass('headline-wrapper') %}
    {% endif %}
    <div {{ headline_wrapper_attributes }}>
        {% block topline %}
            {% if data.topline ?? false %}<p class="main__topline topline">{{ data.topline|insert_tag_raw }}</p>{% endif %}
        {% endblock topline %}
        
        {% set headline = headline|merge({'attributes': attrs().addClass("main__headline headline").addClass(data.headlineClass ?? '')}) %}
        {{ parent() }}
        
        {% block subline %}
            {% if data.subline ?? false %}<p class="main__subline subline">{{ data.subline|insert_tag_raw }}</p>{% endif %}
        {% endblock subline %}
    </div>
{% endblock %}