{% extends "@Contao/mod_article.html5" %}

{% set row_classes = inner_classes|join(" ") %}
{% set inner_classes = "" %}
{% set backgroundClass = background and hasBackground(background) ? " mod_article--background" %}
{% set class = "#{class}#{backgroundClass}" %}

{% block content %}
    {% block background %}
        {% if background %}
            {% if hasBackground(background) %}
                <div class="mod_article__background background background--article">
                    {% if backgroundOverwrite %}
                        {{ getClasses(_context, 'backgroundOverwrite', 'backgroundOverwrite')|raw }}
                    {% else %}
                        {{ getGlobalStrings(_context, 'backgroundElement', 'background')|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
    {% endblock background %}

    <div class="mod_article__main main {{ row_classes }}">
        {{ parent() }}
    </div>
{% endblock %}