{% extends "@Contao/content_element/_base.html.twig" %}

{% set link_attributes = attrs().addClass(getCtaClasses(data)).mergeWith(link_attributes|default) %}

{% set hl_attributes = headline.attributes|default(attrs()).addClass("main__headline headline").addClass(data.headlineClass ?? '') %}
{% set headline = headline|default(_context)|merge({'attributes':hl_attributes}) %}

{% set content_attributes = content_attributes|default(attrs()).addClass("main__content").addClass(nested_fragments ? inner_classes) %}
{% set inner_classes = "" %}

{% set attributes = attributes|default(attrs()).mergeWith(getGlobalStrings(data, 'scheme')) %}

{% set attributes = attributes|default(attrs()).addClass("content content--#{type|replace({'_': '-'})}") %}

{% if data.background %}
    {% set attributes = attributes|default(attrs()).addClass("content--background").mergeWith(attributes|default) %}
{% endif %}

{%- block inner %}
    {% block background %}
        {% if data.background %}
        <div class="content__background background background--content">
            {{ getGlobalStrings(data, 'backgroundElement', 'background')|raw }}
        </div>
        {% endif %}
    {% endblock background %}
    {% block main %}
        <div class="content__main main">
            {% if headline.text %}
                {{ block('headline_component') }}
            {% endif %}

            {% block content_wrapper %}
                <div {{ content_attributes }}>
                    {% block content %}{% endblock %}
                </div>
            {% endblock content_wrapper %}
        </div>
    {% endblock main %}
{% endblock -%}